<nav ng-controller="HeaderController as vm" class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" id="mySidebar">
    <a class="w3-bar-item w3-button w3-border-bottom w3-large" ui-sref="home">
    <img src="/modules/core/client/img/brand/logo.png"></a>
    
    <a ng-repeat="subitem in vm.navMenu.items" 
    ng-if="(subitem.roles | contains:vm.authentication.user.roles[0])" ng-class="{ 'w3-teal': $state.includes(subitem.parrent_state) }" 
    class="w3-bar-item w3-button {{item.class}}" ui-sref="{{subitem.state}}">{{ subitem.title }}</a>
    <a class="w3-bar-item w3-button logout" ng-show="vm.authentication.user" href="/api/auth/signout" target="_self">
        ログアウト　<span class="username">({{ vm.authentication.user.username }})</span>
    </a>
</nav>
<div class="w3-overlay" onclick="w3_close()" style="cursor:pointer"></div>
