<div id="loginbox" class="mg200t w3-display-topmiddle">
  <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" novalidate autocomplete="off">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">ログイン</div>
        </div>
        <div class="pd30t panel-body">
            <div>
                <div id="err_msg" class="err_msg alert alert-danger col-sm-12 hidden">
                    <strong>エラー:</strong>
                    <span id="err_msg_desc">エラーメッセージ</span>
                </div>
                <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
                  <span ng-bind="vm.error"></span>
                </uib-alert>
            </div>
            <div>
                <div class="mg20b input-group" show-errors>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="usernameOrEmail" name="usernameOrEmail" type="text" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="ユーザーID">
                    <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">ユーザーID又はメールを入力してください。</p>
                    </div>
                </div>
                <div class="mg20b input-group" show-errors>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" name="password" type="password" class="form-control" ng-model="vm.credentials.password" placeholder="パスワード">
                    <div ng-messages="vm.userForm.password.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">パスワードを入力してください。</p>
                    </div>
                </div>

                <div class="mg10b form-group">
                    <div class="col-sm-12 controls">
                        <button type="submit" class="w3-button w3-green pull-right pull-right">ログイン</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>