<div id="content2" class="w3-container" style="padding-top:10px;">
  <div id="myTop" class="w3-container w3-top w3-theme w3-large">
    <span id="myIntro" class="w3-hide">アカウント管理</span>
  </div>
  <div>
    <strong style="font-size:20px;">アカウント管理</strong>
    <br/>
  </div>
  <button ng-click="vm.signup(vm.userForm.$valid)" class="w3-button w3-blue pull-right">
    <span class="glyphicon glyphicon-floppy-save"></span> 保存</button>
  <a type="button" data-ui-sref="admin.users.list" class="mg15r w3-button w3-orange pull-right">
    キャンセル
  </a>
  <div style="font-weight:bold; padding-top:10px;">
    <a data-ui-sref="admin.users.list">一覧 </a> > アカウント登録
  </div>
  <hr>
  <div>
    <div class="col-md-12">
      <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="username">ユーザー名</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="ユーザー名" lowercase required>
            <div ng-messages="vm.userForm.username.$error" role="alert">
              <p class="help-block error-text" ng-message="required">*</p>
              <p class="help-block error-text" ng-message="pattern">ユーザー名は半角英数字および記号文字（_-.）の３文字以上でご入力ください。</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="password">パスワード</label>
              <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="パスワード" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
            <div ng-messages="vm.userForm.password.$error" role="alert">
              <p class="help-block error-text" ng-message="required">*</p>
              <p class="help-block error-text">大小を含む10文字以上の英数字、および記号文字（!,@,#,=,<,&など）の入力が必要です。</p>
            </div>
          </div>
          <div class="form-group" ng-show="!vm.userForm.password.$error.required">
            <label>パスワード要件</label>
            <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
          </div>
          <div class="form-group" show-errors>
            <label for="roles">権限</label>
            <select id="roles" class="form-control" name="roles" class="form-control" ng-model="vm.credentials.roles[0]" ng-init="vm.credentials.roles[0] = vm.defaultRole"
              ng-options="p.id as p.name for p in vm.dataRoles"></select>
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">*</p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>